body { 
  margin: 0;   /* Remove body margins */
}

.first-page {

  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 10;

}

.first-page h1 {
  padding: 0;
  font-size: 20vh;
  

}


@media screen and (max-width: 600px) {
  div.first-page h1 {
    font-size: 8vh;
  }
}

@media screen and (max-width: 600px) {
  div.first-page  {
    height: 100vh;
  }
}

.first-page img {
  padding: 0;
  object-fit: fill;
  width:100%;
  height:100%;

}


.second-page {
  width:100%;
  height: auto;
  background: #17394e;
  display:flex;
  flex-direction: row;
  align-items: center;
  

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="second-page"] {
    flex-direction: column;
    height: 100%;
     }
}

@media screen and (max-width: 600px) {
  div.second-page  {
    height: 420vh;
  }
}

@media screen and (max-width: 600px) {
  div.second-page .text-wrapper {
    padding:0;
  }
}

@media screen and (max-width: 600px) {
  div.second-page .text-wrapper p {
    padding:0;
  }
}

.second-page h1 {
  padding: 0;
  font-size: 10vh;
  color: #f9f9f9;
}

.second-page h3 {
  padding: 0;
  font-size: 6vh;
  color:#f9f9f9 ;
}

.second-page p {
  padding: 15px;
  font-size: 2.5vh;
  color: #f9f9f9;
}

.second-page p b{
  
  color: green;
}

@media screen and (max-width: 600px) {
  div.second-page h1 {
    font-size: 6vh;
  }
}

.second-page .img-wrapper{
  position: fixed;
  top: 5px;
  right: 5px;;
  width: 50%;
  height: 100%;
  z-index: 2;

}

.second-page .img-wrapper img{
  padding: 0;
  width: 100%;
  height: 100%;

}




.second-page .text-wrapper {
  width:60%;
  height: 100%;
  background: #17394e;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:1vh;

}



@media screen and (max-width: 600px) {
  div.second-page .text-wrapper  {
    height: 150vh;
  }
}


.kickoff {
  
  width:100%;
  height: 100%;
  background: #80ad32;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: relative;
}

.kickoff h1 {
  padding: 0;
  font-size: 10vh;

}

@media screen and (max-width: 600px) {
  div.kickoff h1 {
    font-size: 8vh;
  }
}

.third-page {

  width:100%;
  height: 80vh;
  background: #80ad32;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/icon/net.png');
  background-size: cover;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  div.third-page  {
    background-image: none;
    height: 100%;
  }
}
.third-page h3 {
  padding: 0;
  margin: 0;
  font-size: 10vh;

}

@media screen and (max-width: 600px) {
  div.third-page h3 {
    font-size: 6vh;
  }
}

.third-page p {
  margin: 0;
  padding: 0;
  font-size: 4vh;

}

@media screen and (max-width: 600px) {
  div.third-page p {
    font-size: 2vh;
  }

}


@media screen and (max-width: 600px) {
  div.third-page img {
    height: 50%;
    width: 50%;
  }

}

.stats-wrapper{
  margin-left: 10%;
  margin-top: 5%;
  display:grid;
  grid-template-columns: auto  auto auto;
  padding: 5% 0% 5% 20%;
  width: 70%;


}

@media screen and (max-width: 600px) {
  div.stats-wrapper  {
    margin: 0;
    padding:2vh;
    width:100%;
    display:grid;
    grid-template-columns: auto  auto ;
  }
}
.stat-wrapper{
  
  display:flex;
  flex-direction: row;
  align-items: center;
  padding:10%;

}

.stat-wrapper img{
  
  max-width: 85px;

}

@media screen and (max-width: 600px) {
  div.stat-wrapper  {
    margin: 0;
    padding:1vh;
  }
}

.fourth-page {
  background-color: #80ad32;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.fourth-page h3 {
  padding: 0;
  font-size: 6vh;

}

.fourth-page p {
  padding: 0;
  font-size: 2.5vh;

}


.fourth-page .plot-wrapper{
  display: flex;
  flex-direction: row;
  padding: 20px;
}




@media screen and (max-width: 600px) {
  div.fourth-page  .plot-wrapper{
    flex-direction: column;
    padding:10px
  }
}

.fourth-page .plot1{
  width: 100%;
}

@media screen and (max-width: 600px) {
  div.fourth-page .plot1 {
    padding:0;
    width:100%;
    height: 100%;
    margin:0;
  }
}

.fourth-page .plot1 iframe{
  width: 100%;
  height: 600px;}

@media screen and (max-width: 600px) {
  div.fourth-page .plot1 iframe{
    width: 100%;
    height: 400px;
    
  }
}

.fourth-page .plot2{
  width: 100%;
}

@media screen and (max-width: 600px) {
  div.fourth-page .plot2 {
    padding:0;
    width:100%;
    height: 100%;
    margin:0;
  }
}

.fourth-page .plot2 iframe{
  width: 100%;
  height: 600px;}

@media screen and (max-width: 600px) {
  div.fourth-page .plot2 iframe{
    width: 100%;
    height: 400px;
    
  }
}

.fourth-page .test-wrapper{
  width:auto;
  padding: 30px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.fifth-page {

  background-color:#80ad32 ;
  
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;
  z-index: 10;
  
}

.fifth-page h3 {
  padding: 0;
  font-size: 6vh;


}

.fifth-page p {
  padding: 0;
  font-size: 2vh;

}

@media screen and (max-width: 600px) {
  div.fifth-page {

    padding:10px;
    
  }
}

.fifth-page .plot-wrapper{

  background-color:#80ad32 ;
  display: flex;
  flex-direction: row;
  
}

@media screen and (max-width: 600px) {
  div.fifth-page .plot-wrapper{

    flex-direction: column;
    
  }
}


@media screen and (max-width: 600px) {
  div.fifth-page .plot2 iframe{
    width: 100%;
    height: 100%;
    
  }
}

.fifth-page .plot-wrapper .plot1 {
  display: flex;
  align-items: center;
}

.fifth-page .plot-wrapper .plot2 {
  display: flex;
  align-items: center;
}

.fifth-page .plot-wrapper .test-wrapper{

  background-color:#80ad32 ;
  width:100%;  
  align-items: center;
  display: flex;
  flex-direction: column;

}

.fifth-page .plot-wrapper .test-wrapper p{

  padding:5%;
 
  

}

.fifth-page  img {

  width: 677px;;
  height:453px;
  

}

@media screen and (max-width: 600px) {
  div.fifth-page .plot1{
    padding:0;
    width:100%;
    height: 100%;
    margin:0;
  }
}

@media screen and (max-width: 600px) {
  div.fifth-page  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }
}


.sixth-page {

  background-color:#17394e ;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  
}



.sixth-page h1 {

  padding: 0;
  font-size: 10vh;
  color: #f9f9f9;
}

.sixth-page h3 {
  padding: 0;
  font-size: 6vh;
  color: #f9f9f9;
}

.sixth-page p {
  padding: 0;
  font-size: 2.5vh;
  color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  div.sixth-page h1 {
    font-size: 7vh;
  }

}


@media screen and (max-width: 600px) {
  div.sixth-page iframe {
    width: 100%;
    height: 100vh;
  }

}

.sixth-page .test-wrapper {
  padding: 5%;

}

.seventh-page {

  background-color:#80ad32 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  
}

.seventh-page h1 {

  padding: 0;
  font-size: 7em;

}

@media screen and (max-width: 600px) {
  div.seventh-page h1 {
    font-size: 7vh;
  }

}


.seventh-page .plot-wrapper {
  display: flex;
  flex-direction: column;


}

.seventh-page .plot-wrapper1 {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;


}

@media screen and (max-width: 600px) {
  div.seventh-page .plot-wrapper{

    flex-direction: column;
    
  }
}

@media screen and (max-width: 600px) {
  div.seventh-page .plot5 iframe{
    width: 100%;
    height: 100%;
    
  }
}

.seventh-page .plot-wrapper .test-wrapper {
  padding: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.seventh-page .plot-wrapper .plot5 {
  padding: 0%;
  width: 100%;

}

.seventh-page h3 {
  padding: 0;
  font-size: 6vh;

}

.seventh-page p {
  padding: 0;
  font-size: 2.5vh;

}

.seventh-page iframe {
  height: 80vh;
  width: 100%;
}
